primary:

  CA:
    renderSettings:
      viewport:
        width: 1400
        height: 3000
    message: using viewport height 3000 for CA

  ID:
    renderSettings:
      viewport:
        width: 1400
        height: 3000
    message: using viewport height 3000 for ID

  IA:
    url: https://public.domo.com/embed/pages/dPRol
    renderSettings:
      viewport:
        width: 1400
        height: 3000
    message: loading custom URL and using viewport height 3000 for IA

  IN:
    renderSettings:
      viewport:
        width: 1400
        height: 8500
    overseerScript: >
      page.manualWait();
      await page.waitForSelector("#prefix-dismissButton");
      page.click("#prefix-dismissButton"); 
      await page.waitForFunction(()=>document.querySelector("#main-content").textContent!=="");
      page.done();
    message: clicking button to get rid of popup, using viewport height 8500 for IN
    
  MT:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load MT  

  NE:
    renderSettings:
      viewport:
        width: 1400
        height: 5000
    message: using viewport height 5000 for NE

  OK:
    overseerScript: page.manualWait(); await page.waitForDelay(60000); page.done();
    message: waiting 60 sec to load OK

  OR:
    overseerScript: >
      page.manualWait();
      await page.waitForSelector("#prefix-dismissButton");
      page.click("#prefix-dismissButton");
      await page.waitForDelay(5000);
      page.click("#prefix-dismissButton");
      await page.waitForFunction(()=>document.querySelector("#main-content").textContent!=="");
      page.done();
    message: clicking button to get rid of popup for OR, waiting 5 sec

  PA:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    renderSettings:
      viewport:
        width: 1400
        height: 3000
    message: waiting 30 sec to load PA and using viewport height 3000

  SC:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load SC

  TX:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load TX

  UT:
    renderSettings:
      clipRectangle:
        width: 1400
        height: 3000
    message: UT dashboard doesn't render in phantomjscloud unless we set clipRectangle

  WA:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load WA

  WV:
    overseerScript: page.manualWait(); await page.waitForDelay(90000); page.done();
    message: waiting 90 sec to load WV

secondary:

  AL:
    overseerScript: >
      await page.waitForNavigation({waitUntil:"domcontentloaded"});
      await page.waitForSelector("span:nth-of-type(12)");
      page.click("span:nth-of-type(12)");
      await page.waitForDelay(1000);
      page.done();
    message: custom click logic for AL secondary dashboard

  AR:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load AR secondary

  ID:
    overseerScript: >
      page.manualWait(); await page.waitForSelector("#tabZoneId10");
      await page.hover("#tabZoneId10"); page.done();
    message: custom mouseover logic for ID secondary dashboard

  IN:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load IN secondary

  NJ:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load NJ secondary

  PA:
    overseerScript: >
      page.manualWait();
      await page.waitForSelector("#ember65");
      page.click("#ember65"); 
      await page.waitForDelay(30000);
      page.done();
    message: custom click logic for PA secondary dashboard

  TN:
    file: pdf
    message: downloading PDF for TN secondary

  TX:
    file: xlsx
    message: downloading Excel for TX secondary

  WA:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load WA secondary

tertiary:

  AR:
    renderSettings:
      clipRectangle:
        width: 1400
        height: 1400
    overseerScript: >
      page.manualWait();
      await page.waitForSelector("span.ember-view.tab-title:nth-of-type(4)");
      page.click("span.ember-view.tab-title:nth-of-type(4)");
      await page.waitForDelay(10000);
      page.done();
    message: clicking on "Tests" tab for AR tertiary

  IA:
    overseerScript: page.manualWait(); await page.waitForDelay(60000); page.done();
    message: wait for IA tertiary
    
  KY:
    file: pdf
    message: downloading PDF for KY tertiary

  MP:
    overseerScript: >
      page.manualWait();
      await page.waitForSelector(".tab-title:nth-of-type(2)");
      page.click(".tab-title:nth-of-type(2)"); 
      await page.waitForDelay(30000);
      page.done();
    message: custom click logic for MP tertiary dashboard

  NC:
    overseerScript: >
      page.manualWait();
      await page.waitForSelector("#\\[Parameters\\]\\.\\[Parameter\\ 7\\]_2 input");
      page.click("#\\[Parameters\\]\\.\\[Parameter\\ 7\\]_2 input"); 
      await page.waitForDelay(10000);
      page.done();
    message: crazy clicking for NC tertiary, waiting 10 seconds

  NJ:
    overseerScript: page.manualWait(); await page.waitForDelay(30000); page.done();
    message: waiting 30 sec to load NJ tertiary

  RI:
    file: csv
    message: downloading CSV for RI tertiary

quaternary:

  IA:
    overseerScript: page.manualWait(); await page.waitForDelay(60000); page.done();
    message: wait for IA quaternary

  PR:
    overseerScript: 
      await page.waitForNavigation({waitUntil:"domcontentloaded"}); 
      await page.waitForSelector("#ember906");
      page.click("#ember906");
      page.done();
    message: click button for PR recoveries ("Convalecientes")


quinary:

  IA:
    overseerScript: page.manualWait(); await page.waitForDelay(60000); page.done();
    message: wait for IA quinary

  PR:
    overseerScript: 
      await page.waitForNavigation({waitUntil:"domcontentloaded"}); 
      await page.waitForSelector("#ember772");
      page.click("#ember772");
      page.done();
    message: click button for PR confirmed Deaths ("Muertes Confirmades")

