# This workflow archives published data if there are changes every 15m

name: Update

on: 
  schedule:
    # Run every hour, on the hour.
    - cron:  '0 * * * *'

jobs:
  update:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    
    - name: Download files
      run: |
        curl https://covidtracking.com/api/v1/states/current.csv -o data/states_current.csv
        curl https://covidtracking.com/api/v1/states/daily.csv -o data/states_daily_4pm_et.csv
        curl https://covidtracking.com/api/v1/states/info.csv -o data/states_info.csv
        curl https://covidtracking.com/api/us.csv -o data/us_current.csv
        curl https://covidtracking.com/api/us/daily.csv -o data/us_daily.csv
        curl https://covidtracking.com/api/counties.csv -o data/counties.csv
    
    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v4.1.2
      with:
        commit_message: Updating public spreadsheet CSV backups
        file_pattern: data/*.csv
        commit_author: GitHub Actions <actions@github.com>
